# SPDX-License-Identifier: AGPL-3.0-or-later
# EditorConfig — https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.rs]
indent_size = 4

[*.zig]
indent_size = 4

[*.as]
indent_size = 2

[Justfile]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.adoc]
trim_trailing_whitespace = false
